<%= form_for(@rvmodel) do |f| %>
  <% if @rvmodel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rvmodel.errors.count, "error") %> prohibited this rvmodel from being saved:</h2>

      <ul>
      <% @rvmodel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :modelname %><br>
    <%= f.text_field :modelname %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
