<%= form_for(@camper) do |f| %>
  <% if @camper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@camper.errors.count, "error") %> prohibited this camper from being saved:</h2>

      <ul>
      <% @camper.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Pick a Model" %><br>
    <%= collection_select :rvmodel, :rvmodel_id, Rvmodel.all, :id, :modelname, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :year %><br>
    <%= f.text_field :year %>
  </div>
  <div class="field">
    <%= f.label :vin %><br>
    <%= f.text_field :vin %>
  </div>
  <div class="field">
    <%= f.label :mileage %><br>
    <%= f.text_field :mileage %>
  </div>
  <div class="field">
    <%= f.label "Customer Name" %><br>
    <%= collection_select( :customer, :customer_id, Customer.all, :id, :firstname, {}, { :multiple => false } ) %>

  </div>
  <div class="field">
    <%= f.label "Manufacturer" %><br>
    <%= collection_select :make, :make_id, Make.all, :id, :name, :include_blank => true %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-success" %>
  </div>
<% end %>
