<h1>Listing Campers</h1>

<table id="campers_table" class="table table-striped table-bordered"  cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Model</th>
      <th>Year</th>
      <th>Vin</th>
      <th>Mileage</th>
      <th>Customer</th>
      <th>Make</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @campers.each do |camper| %>
      <tr>
        <td><%= camper.rvmodel_id %></td><!-- Help !-->
        <td><%= camper.year %></td>
        <td><%= camper.vin %></td>
        <td><%= camper.mileage %></td>
        <td><%= collection_select(:customer, :customer_id, Customer.all, :id, :firstname, :include_blank => true) %></td><!-- Help !-->
        <td><%= camper.make_id %></td><!-- Help !-->
        <td><%= link_to 'Show', camper, class: 'btn btn-info btn-xs' %></td>
        <td><%= link_to 'Edit', edit_camper_path(camper), class: 'btn btn-info btn-xs' %></td>
        <td><%= link_to 'Destroy', camper, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Camper', new_camper_path, class: 'btn btn-success' %>

<script type="text/javascript">


$(document).ready(function() {
    $('#campers_table').dataTable();
} );
</script>
