<p id="notice"><%= notice %></p>

<p>
  <strong>Model:</strong>
  <%= @camper.rvmodel_id %>
</p>

<p>
  <strong>Year:</strong>
  <%= @camper.year %>
</p>

<p>
  <strong>Vin:</strong>
  <%= @camper.vin %>
</p>

<p>
  <strong>Mileage:</strong>
  <%= @camper.mileage %>
</p>

<p>
  <strong>Customer:</strong>
  <%= collection_select :customer, :customer_id, Customer.all, :id, :firstname %>
</p>

<p>
  <strong>Make:</strong>
  <%= @camper.make_id  %><br>

<hr>
<%= link_to 'Edit', edit_camper_path(@camper) %> |
<%= link_to 'Back', campers_path %>
